[package]
name = "filter-expr"
description = "A library for parsing the filter expression."
version = "0.1.10"
edition.workspace = true
license.workspace = true

[dependencies]
async-trait.workspace = true
thiserror.workspace = true
